body {
    background-color: #3498db;
    font-family: 'Times New Roman';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    color: #2980b9;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd; /* Default border color */
    border-radius: 5px;
}

/* This is where the border color will turn green when the input is valid */
input.valid {
    border: 2px solid green; /* Green border for valid inputs */
}

input[type="submit"] {
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    border: none;
    width: 100px;
    margin: 20px auto;
    opacity: 0.5;
}

/* Change background color and opacity on hover */
input[type="submit"]:hover:enabled {
    background-color: #1e6d9b;
    opacity: 1;
}

input:invalid {
    border-color: #e74c3c; /* Red border for invalid inputs */
}

.error-message {
    color: red;
    display: none; /* Hide error message by default */
}
